.App {
  padding-top: 36px;
  text-align: center;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList {
  margin-bottom: 24px;
  width: 48%;
  margin: 0 auto;
}

.purpleTitle {
  color: purple !important;
}